# Python build files
venv/
__pycache__/
*.pyc
.pytest_cache
*.egg-info/
build/
dist/

# Editor-related files
.idea/
.vscode/

# Miscellaneous
backupagent.json
*trondheim.json
Agent25-google.json
.coverage
.envrc

