# Python build files
__pycache__/
*.pyc
.pytest_cache
backupagent.json
*.egg-info/
build/
dist/

# Editor-related files
.idea/
.vscode/

# Miscellaneous
backupagent.json
*trondheim.json
*scraped.json
Agent25-google.json
.coverage
.envrc
venv/

# Docker volumes
data/

