# Python build files
__pycache__/
*.pyc
.pytest_cache
backupagent.json
*.egg-info/
build/
dist/

# Editor-related files
.idea/
.vscode/

# Miscellaneous
backupagent.json
*trondheim.json
*scraped.json
Agent25-google.json
.coverage
.envrc
venv/

# nlp corpora
*no_50k.txt

# Docker volumes
data/

# Python log files
logs/
