anytree==2.5.0
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.7.1
bs4==0.0.1
cachetools==3.0.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.5
cssselect==1.0.3
dialogflow==0.5.2
entrypoints==0.3
flake8==3.7.5
Flask==1.0.2
google-api-core==1.7.0
google-auth==1.6.2
googleapis-common-protos==1.5.6
grpcio==1.18.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.0
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==5.0.0
parsel==1.5.1
pluggy==0.8.1
protobuf==3.6.1
py==1.7.0
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pycodestyle==2.5.0
pyflakes==2.1.0
pymongo==3.7.2
pyOpenSSL==19.0.0
pytest==4.2.0
pytz==2018.9
queuelib==1.5.0
requests==2.21.0
rsa==4.0
Scrapy==1.6.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.7.3
Twisted==18.9.0
urllib3==1.24.1
w3lib==1.20.0
Werkzeug==0.14.1
zope.interface==4.6.0
pytest-cov==2.6.1
codecov==2.0.15
progressbar=2.5
